In [38]:
!pip install mlxtend==0.23.1

Collecting mlxtend==0.23.1
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from mlxtend==0.23.1) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend==0.23.1) (2023.3.post1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend==0.23.1) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\manisha chandanshiv\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend==0.23.1) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   -------------- ------------------------- 0.5/1.4 MB 310.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.5/1.4 MB 310.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.5/1.4 MB 310.6 kB/s eta 0:00:03
   -------------- ------------------------- 0.5/1.4 MB 310.6 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.4 MB 325.6 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.4 MB 325.6 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.4 MB 325.6 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.4 MB 325.6 kB/s eta 0:00:03
   ---------------------------- ----------- 1.0/1.4 MB 299.6 kB/s eta 0:00:02
   ---------------------------- ----------- 1.0/1.4 MB 299.6 kB/s eta 0:00:02
   ------------------------------------ --- 1.3/1.4 MB 358.9 kB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 365.4 kB/s eta 0:00:00
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.23.3
    Uninstalling mlxtend-0.23.3:
      Successfully uninstalled mlxtend-0.23.3
Successfully installed mlxtend-0.23.1

In [63]:
import pandas as pd

file_path = "Online retail.xlsx"
df = pd.read_excel(file_path, header=None)
df.head()

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [40]:
transactions = df.apply(lambda x: x.dropna().tolist(), axis=1).tolist()

for i, transaction in enumerate(transactions[:5]):
    print(f"Transaction {i+1}: {transaction}")

Transaction 1: ['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil']
Transaction 2: ['burgers,meatballs,eggs']
Transaction 3: ['chutney']
Transaction 4: ['turkey,avocado']
Transaction 5: ['mineral water,milk,energy bar,whole wheat rice,green tea']

In [41]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
one_hot_encoded = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(one_hot_encoded, columns=te.columns_)

In [42]:
frequent_itemsets = apriori(df_encoded, min_support=0.05, use_colnames=True)
print(frequent_itemsets)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [43]:
import pandas as pd

# Load dataset
file_path = "Online Retail dataset.csv"
df = pd.read_csv(file_path, header=None)

# Print sample rows
print(df.head(10))  # Check structure

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...
5                                     low fat yogurt
6                     whole wheat pasta,french fries
7                           soup,light cream,shallot
8              frozen vegetables,spaghetti,green tea
9                                       french fries

In [44]:
transactions = df[0].astype(str).str.split(",")

In [45]:
transactions = [[item.strip() for item in sublist] for sublist in transactions]

In [46]:
print(transactions[:5])

[['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil'], ['burgers', 'meatballs', 'eggs'], ['chutney'], ['turkey', 'avocado'], ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']]

In [47]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
one_hot_encoded = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(one_hot_encoded, columns=te.columns_)

In [48]:
print(df_encoded.head())

   almonds  antioxydant juice  asparagus  avocado  babies food  bacon  \
0     True               True      False     True        False  False
1    False              False      False    False        False  False
2    False              False      False    False        False  False
3    False              False      False     True        False  False
4    False              False      False    False        False  False

   barbecue sauce  black tea  blueberries  body spray  ...  turkey  \
0           False      False        False       False  ...   False
1           False      False        False       False  ...   False
2           False      False        False       False  ...   False
3           False      False        False       False  ...    True
4           False      False        False       False  ...   False

   vegetables mix  water spray  white wine  whole weat flour  \
0            True        False       False              True
1           False        False       False             False
2           False        False       False             False
3           False        False       False             False
4           False        False       False             False

   whole wheat pasta  whole wheat rice   yams  yogurt cake  zucchini
0              False             False   True        False     False
1              False             False  False        False     False
2              False             False  False        False     False
3              False             False  False        False     False
4              False              True  False        False     False

[5 rows x 119 columns]

In [49]:
print(df_encoded.sum().sort_values(ascending=False).head(10))

mineral water        1788
eggs                 1348
spaghetti            1306
french fries         1282
chocolate            1229
green tea             991
milk                  972
ground beef           737
frozen vegetables     715
pancakes              713
dtype: int64

In [ ]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

print(rules.head())

In [71]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth


dataset = "Online Retail dataset.csv"
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = fpgrowth(df, min_support=0.6, use_colnames=True)

frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [ ]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)